<html ng-app="portugAcurteApp">
<head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script>
var portugAcurteApp = angular.module('portugAcurteApp', ['ngRoute']);

portugAcurteApp.config(function($locationProvider) {
    $locationProvider.html5Mode(true);
}); 

portugAcurteApp.controller('mainController', function($scope, $location, $http) {
    console.log('$location.search()', $location.search());
    console.log('$location.hash()', $location.hash());

    $scope.token = $location.hash().split("=")[1];

    $scope.login = function(){
        var url = "https://api.instagram.com/oauth/authorize/?client_id=" + $scope.clientId + "&redirect_uri=https://portugacurte.github.io/index.html&response_type=token&scope=public_content+likes"
        window.location = url;
    }

    $scope.loadTags = function (){
        if ($scope.token && $scope.hashtag){
            var url = "https://api.instagram.com/v1/tags/" + $scope.hashtag + "/media/recent?callback=callbackFunction&access_token=" + $scope.token;
            console.log("calling", url);
            $http.jsonp(url, {jsonpCallbackParam: 'callback'})
            .success(function(data){
                console.log(data);
            });
        } else {
            console.log("no token or hashtag");
        }

    }

});

</script>
</head>
<!-- <body ng-view> -->
<body ng-controller="mainController">
    <h1>Portuga Curte</h1>
    
    <div ng-show="!token">
        
        <p>client id <input ng-model="clientId"><button ng-click="login()">Curte</button></p>
    </div>

    <div ng-show="token">
        <p>hashtag <input ng-model="hashtag"></p> <button ng-click="loadTags()">Pega pra mim</button></p>

        <p>ja tenho o token - {{token}}</p>

    </div>

</body>

<script type="text/ng-template" id="/login.html">
  Content of the template.
</script>

<script type="text/ng-template" id="/tokenized.html">
  i ve got the token {{token}}
</script>
</html>
